---
title: 11ty Boilerplate
---

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Polaroid Cloud</title>
  <link rel="stylesheet" href="/styles/screen.css">
</head>
<body>
  <header>
    <h1>Polaroid Cloud</h1>
  </header>
  <main>
    {{ content }}
  </main>
  <footer>
    <p>2024 Polaroid Cloud. All rights reserved.</p>
  </footer>
</body>
</html>
